{% extends "codespeed/base_site.html" %}
{% block title %}{{ block.super }}: About this site{% endblock %}
{% block body %}
<div id="sidebar">
</div>
<div id="about" class="about_content clearfix">
<h3>About this site</h3>
<p>We have nightly benchmark runs of pypy, together with cpython data for comparison.</p>
<p>This site runs on top of Django and Codespeed</p>
<h3>About the benchmarks</h3>
<p>The benchmark code can be found <a
href="https://foss.heptapod.net/pypy/benchmarks">here</a>.</p>
<p>This is a benchmark suite based on Unladen Swallow, adapted for PyPY and
runs on Python2 and Python3. Also see <a
href="https://speed.python.org">the python speed site</a></p>
<h3>About PyPy</h3>
<p>PyPy is a very compliant implementation of the Python language.</p>
<p>Main website: <a href="https://www.pypy.org">www.pypy.org</a></p>

<p>Blog: <a href="https://www.pypy.org/blog/">www.pypy.org/blog/</a>
<h3>About Codespeed</h3>
Codespeed is a web application to monitor and analyze the performance of your code.
<p>Code: <a href="https://github.com/python/codespeed/tree/speed.pypy.org">PyPy branch of python fork of codespeed</a>
<p>Wiki: <a href="https://wiki.github.com/tobami/codespeed/">wiki.github.com/tobami/codespeed/</a></p>
<h3>Contact</h3>
<p>For problems or suggestions about this website write to</p>
<p>the <a href="https://pypy.org/contact/">PyPy team</a> or directly to Miquel Torres (tobami at googlemail dot com)</p>

</div>
{% endblock %}
